Repository microsoft/win32metadata: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-apidocs.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-apidocs.yml: any of: apidocs
  azure-pipelines.yml: any file but: apidocs, docs

Upgrade winmd generation to ClangSharp 21
  .config/dotnet-tools.json
  AzurePipelinesTemplates/win32metadata-onebranch.yml
  CONTRIBUTING.md
  generation/WinSDK/Partitions/Identity/settings.rsp
  generation/WinSDK/RecompiledIdlHeaders/um/dxva.h
  generation/WinSDK/RecompiledIdlHeaders/um/dxva9typ.h
  generation/WinSDK/emitter.settings.rsp
  global.json
  sources/ClangSharpSourceToWinmd/ClangSharpSourceWinmdGenerator.cs
  sources/ClangSharpSourceToWinmd/MetadataSyntaxTreeCleaner.cs
  sources/GeneratorSdk/MetadataTasks/ScrapeHeaders.cs
  sources/GeneratorSdk/nuget/BuildSdk.nuspec
  sources/Win32MetadataScraper/Program.cs
  sources/Win32MetadataScraper/Win32MetadataScraper.csproj
  tests/Win32MetadataScraperTests/RspFileParserTests.cs
  tests/Win32MetadataScraperTests/Win32MetadataScraperTests.csproj
Due: azure-pipelines.yml

Restore ClangSharp response file compatibility
  sources/Win32MetadataScraper/Program.cs
  tests/Win32MetadataScraperTests/RspFileParserTests.cs
Due: azure-pipelines.yml

Fix ClangSharp 21 pipeline integration
  .github/workflows/pr-validation.yml
  AzurePipelinesTemplates/win32docs-onebranch.yml
  AzurePipelinesTemplates/win32metadata-onebranch.yml
  generation/WinSDK/Partitions/Media.DShow/settings.rsp
  generation/WinSDK/Partitions/Mf/settings.rsp
  generation/WinSDK/RecompiledIdlHeaders/um/dxva.h
  generation/WinSDK/RecompiledIdlHeaders/um/dxva9typ.h
  sources/GeneratorSdk/MetadataTasks/ScrapeHeaders.cs
  sources/GeneratorSdk/nuget/BuildSdk.nuspec
Due: azure-pipelines.yml

Install matching .NET 8 targeting packs in CI
  .github/workflows/pr-validation.yml
  AzurePipelinesTemplates/win32docs-onebranch.yml
  AzurePipelinesTemplates/win32metadata-onebranch.yml
Due: azure-pipelines.yml

Require .NET 10 for WinmdGenerator
  .github/workflows/pr-validation.yml
  AzurePipelinesTemplates/win32docs-onebranch.yml
  AzurePipelinesTemplates/win32metadata-onebranch.yml
  Directory.Build.props
  apidocs/Microsoft.Windows.SDK.Win32Docs/Microsoft.Windows.SDK.Win32Docs.csproj
  apidocs/ScrapeDocs/ScrapeDocs.csproj
  azure-pipelines.yml
  generation/WinSDK/Windows.Win32.proj
  scripts/CommonUtils.ps1
  sources/ClangSharpSourceToWinmd/ClangSharpSourceToWinmd.csproj
  sources/ConstantsScraper/ConstantsScraper.csproj
  sources/GeneratorSdk/MetadataTasks/MetadataTasks.csproj
  sources/GeneratorSdk/nuget/BuildSdk.nuspec
  sources/GeneratorSdk/samples/GeneratorSampleDebug/GeneratorSampleDebug.proj
  sources/GeneratorSdk/sdk/sdk.props
  sources/MetadataUtils/MetadataUtils.csproj
  sources/PartitionUtils/PartitionUtils.csproj
  sources/WinmdUtils/WinmdUtils.csproj
  tests/ClangSharpSourceToWinmdTests/ClangSharpSourceToWinmdTests.csproj
  tests/MetadataUtils.Tests/MetadataUtils.Tests.csproj
  tests/TestCommon/TestCommon.csproj
  tests/VtablesFromPdb/VtablesFromPdb.csproj
  tests/Windows.Win32.Tests/Windows.Win32.Tests.csproj
Due: azure-pipelines-apidocs.yml, azure-pipelines.yml

Add webauthnplugin.h APIs to the metadata
  generation/WinSDK/libMappingsManual.rsp
Due: azure-pipelines.yml

Add webauthnplugin.h APIs to the metadata (#2288)
  generation/WinSDK/libMappingsManual.rsp
Due: azure-pipelines.yml

Pin GitHub Actions to full-length commit SHAs
  .github/actions/upload-artifact-with-retry/action.yml
  .github/dependabot.yml
  .github/workflows/pr-validation.yml
Due: azure-pipelines.yml

ci: avoid fork PR comment failures
  .github/workflows/pr-validation.yml
Due: azure-pipelines.yml

ci: securely publish fork API diffs
  .github/workflows/pr-api-diff-comment.yml
  .github/workflows/pr-validation.yml
Due: azure-pipelines.yml

Fix broken PR workflow around API diffs for fork PRs (#2291)
  .github/workflows/pr-api-diff-comment.yml
  .github/workflows/pr-validation.yml
Due: azure-pipelines.yml

Missing CanReturnMultipleSuccessValues for IShellLinkA and IShellLinkW for GetPath and GetIDList. Fixed microsoft#2279. (#2280)
  generation/WinSDK/emitter.settings.rsp
Due: azure-pipelines.yml

Pin GitHub Actions to full-length commit SHAs (#2290)
  .github/actions/upload-artifact-with-retry/action.yml
  .github/dependabot.yml
  .github/workflows/pr-api-diff-comment.yml
  .github/workflows/pr-validation.yml
Due: azure-pipelines.yml

Document shift-left annotation proposal
  docs/copilot/plans/shift-left-annotation-spec.md
  docs/copilot/shift-left-gap-review.html
  docs/copilot/windows-rs-non-header-gaps.md
Due: none

Refine shift-left annotation vocabulary
  docs/copilot/plans/shift-left-annotation-spec.md
  docs/copilot/shift-left-gap-review.html
  docs/copilot/windows-rs-non-header-gaps.md
Due: none

Upgrade winmd generation to ClangSharp 21 (#2287)
  .config/dotnet-tools.json
  .github/workflows/pr-validation.yml
  AzurePipelinesTemplates/win32docs-onebranch.yml
  AzurePipelinesTemplates/win32metadata-onebranch.yml
  CONTRIBUTING.md
  Directory.Build.props
  apidocs/Microsoft.Windows.SDK.Win32Docs/Microsoft.Windows.SDK.Win32Docs.csproj
  apidocs/ScrapeDocs/ScrapeDocs.csproj
  azure-pipelines.yml
  generation/WinSDK/Partitions/Identity/settings.rsp
  generation/WinSDK/Partitions/Media.DShow/settings.rsp
  generation/WinSDK/Partitions/Mf/settings.rsp
  generation/WinSDK/Windows.Win32.proj
  generation/WinSDK/emitter.settings.rsp
  global.json
  scripts/CommonUtils.ps1
  sources/ClangSharpSourceToWinmd/ClangSharpSourceToWinmd.csproj
  sources/ClangSharpSourceToWinmd/ClangSharpSourceWinmdGenerator.cs
  sources/ClangSharpSourceToWinmd/MetadataSyntaxTreeCleaner.cs
  sources/ConstantsScraper/ConstantsScraper.csproj
  sources/GeneratorSdk/MetadataTasks/MetadataTasks.csproj
  sources/GeneratorSdk/MetadataTasks/ScrapeHeaders.cs
  sources/GeneratorSdk/nuget/BuildSdk.nuspec
  sources/GeneratorSdk/samples/GeneratorSampleDebug/GeneratorSampleDebug.proj
  sources/GeneratorSdk/sdk/sdk.props
  sources/MetadataUtils/MetadataUtils.csproj
  sources/PartitionUtils/PartitionUtils.csproj
  sources/Win32MetadataScraper/Program.cs
  sources/Win32MetadataScraper/Win32MetadataScraper.csproj
  sources/WinmdUtils/WinmdUtils.csproj
  tests/ClangSharpSourceToWinmdTests/ClangSharpSourceToWinmdTests.csproj
  tests/MetadataUtils.Tests/MetadataUtils.Tests.csproj
  tests/TestCommon/TestCommon.csproj
  tests/VtablesFromPdb/VtablesFromPdb.csproj
  tests/Win32MetadataScraperTests/RspFileParserTests.cs
  tests/Win32MetadataScraperTests/Win32MetadataScraperTests.csproj
  tests/Windows.Win32.Tests/Windows.Win32.Tests.csproj
Due: azure-pipelines-apidocs.yml, azure-pipelines.yml

Document the NuGet release pipeline
  CONTRIBUTING.md
Due: azure-pipelines.yml

Qualify synthesized Guid attributes from the global namespace
  sources/ClangSharpSourceToWinmd/ClangSharpSourceWinmdGenerator.cs
  sources/ClangSharpSourceToWinmd/MetadataSyntaxTreeCleaner.cs
  sources/MetadataUtils/EncodeHelpers.cs
  tests/ClangSharpSourceToWinmdTests/GuidAttributeTests.cs
Due: azure-pipelines.yml

Qualify synthesized Guid attributes from the global namespace (#2300)
  sources/ClangSharpSourceToWinmd/ClangSharpSourceWinmdGenerator.cs
  sources/ClangSharpSourceToWinmd/MetadataSyntaxTreeCleaner.cs
  sources/MetadataUtils/EncodeHelpers.cs
  tests/ClangSharpSourceToWinmdTests/GuidAttributeTests.cs
Due: azure-pipelines.yml

Update shift-left proposal from review feedback
  docs/copilot/plans/shift-left-annotation-spec.md
  docs/copilot/shift-left-gap-review.html
  docs/copilot/windows-rs-non-header-gaps.md
Due: none

Clarify RAIIFree invalid value syntax
  docs/copilot/plans/shift-left-annotation-spec.md
  docs/copilot/shift-left-gap-review.html
  docs/copilot/windows-rs-non-header-gaps.md
Due: none

Require scraper resolution of sentinel macros
  docs/copilot/plans/shift-left-annotation-spec.md
  docs/copilot/shift-left-gap-review.html
  docs/copilot/windows-rs-non-header-gaps.md
Due: none

Drop Agile and preserve unscoped enum names
  docs/copilot/plans/shift-left-annotation-spec.md
  docs/copilot/shift-left-gap-review.html
Due: none

Remove shift-left review presentation
  docs/copilot/plans/shift-left-annotation-spec.md
  docs/copilot/shift-left-gap-review.html
Due: none

Report success for documentation-only PRs
  .github/workflows/pr-validation.yml
Due: azure-pipelines.yml

Start windows-rs pipeline wrapper migration
  .gitignore
  docs/copilot/plans/windows-rs-pipeline-wrapper-plan.md
  scripts/Test-WindowsRdlRoundTrip.ps1
  tools/rust/Cargo.lock
  tools/rust/Cargo.toml
  tools/rust/src/main.rs
Due: azure-pipelines.yml

Add minimal windows-rs metadata pipeline
  docs/copilot/plans/windows-rs-pipeline-wrapper-plan.md
  rust-toolchain.toml
  scripts/Generate-WindowsRsWinmd.ps1
  scripts/Test-WindowsRdlRoundTrip.ps1
  tools/rust/Cargo.lock
  tools/rust/Cargo.toml
  tools/rust/README.md
  tools/rust/src/args.rs
  tools/rust/src/catch.rs
  tools/rust/src/libclang.rs
  tools/rust/src/main.rs
  tools/rust/src/roundtrip.rs
  tools/rust/src/scrape.rs
Due: azure-pipelines.yml

Update windows-rs pipeline fixes
  tools/rust/Cargo.lock
  tools/rust/Cargo.toml
Due: azure-pipelines.yml

Update windows-rs HNSTIME normalization
  tools/rust/Cargo.lock
  tools/rust/Cargo.toml
Due: azure-pipelines.yml

Mark RoInitialize return
  generation/WinSDK/emitter.settings.rsp
Due: azure-pipelines.yml

Qualify generated type names shadowed by namespaces
  sources/ClangSharpSourceToWinmd/ClangSharpSourceCompilation.cs
  sources/ClangSharpSourceToWinmd/ShadowedTypeNameQualifier.cs
  tests/ClangSharpSourceToWinmdTests/ShadowedTypeNameQualifierTests.cs
Due: azure-pipelines.yml

Move STATIC_STYLES to WindowsAndMessaging
  generation/WinSDK/enums.json
Due: azure-pipelines.yml

Close full x64 windows-rs generation
  tools/rust/Cargo.lock
  tools/rust/Cargo.toml
  tools/rust/src/scrape.rs
Due: azure-pipelines.yml

Add WinMD generator performance repro
  docs/copilot/winmd-generator-performance.md
  scripts/Benchmark-WinmdGenerators.ps1
  scripts/Generate-WindowsRsWinmd.ps1
  tools/rust/Cargo.lock
  tools/rust/Cargo.toml
Due: azure-pipelines.yml

Add emitter integration test for shadowed type
  tests/ClangSharpSourceToWinmdTests/EmitterIntegrationTests.cs
Due: azure-pipelines.yml

Guard shadowed type qualification
  sources/ClangSharpSourceToWinmd/ShadowedTypeNameQualifier.cs
  tests/ClangSharpSourceToWinmdTests/ShadowedTypeNameQualifierTests.cs
Due: azure-pipelines.yml

Preflight Rust metadata partitions
  docs/architecture.md
  generation/WinSDK/Windows.Win32.proj
  scripts/BuildMetadataBin.ps1
  scripts/Test-WindowsRsPartitions.ps1
  sources/GeneratorSdk/sdk/sdk.targets
  tools/rust/Cargo.lock
  tools/rust/Cargo.toml
  tools/rust/src/scrape.rs
Due: azure-pipelines.yml

Keep migration validation artifacts available
  .github/workflows/pr-validation.yml
Due: azure-pipelines.yml

Document shift-left Win32 metadata annotation proposal (#2295)
  .github/workflows/pr-validation.yml
  docs/copilot/plans/shift-left-annotation-spec.md
  docs/copilot/windows-rs-non-header-gaps.md
Due: azure-pipelines.yml
